# Modul 10 Struktur Data: Pengantar *database* dengan SQLite

Kembali ke [Struktur Data (dengan Python)](strukdat2023.qmd)

Selamat datang di praktikum terakhir Struktur Data tahun 2023 ini :)

Agak berbeda dengan beberapa praktikum sebelumnya, kali ini, kita akan membahas tentang *database* (terkadang disebut "basis data") menggunakan yang namanya SQLite.

Sebelum kita mulai, singkat cerita:

* Suatu *database* adalah tempat menyimpan sekumpulan data yang saling berhubungan

* *Database* biasanya berupa sekumpulan tabel yang saling berkaitan. Jenis *database* ini disebut ***relational database***

* Untuk mengelola suatu *database*, digunakan yang namanya *database management system* (DBMS). Khusus *relational database*, ada istilah *relational database management system* (RDBMS)

* Salah satu RDBMS yang sering digunakan adalah SQLite, terutama untuk *relational database* yang tidak terlalu besar

* SQLite bisa dioperasikan melalui Python, dengan *module*/*package* `sqlite3` yang harusnya sudah terinstal bersama Python (kalau belum, bisa diinstal dengan `pip install sqlite3`, tapi jangan lupa `conda install sqlite` terlebih dahulu kalau menggunakan Anaconda)

* *File extension* atau akhiran nama *file* untuk suatu *database* SQLite bisa berupa `.db` atau `.sqlite` atau lebih spesifiknya `.sqlite3`

* Pada tiap *database*, bisa dilakukan yang namanya *querying*, yaitu melakukan *filtering* untuk memperoleh data yang memenuhi kriteria yang kita tentukan

* Sudah ada bahasa bernama SQL (*Structured Querying Language*) yang terstandarisasi untuk melakukan *querying* (maupun modifikasi) pada *relational database*, apapun RDBMS yang digunakan

In [1]:
import sqlite3

Membuat *database* baru (atau membuka *database* yang sudah ada, kalau ada) dengan nama *file* yang ditentukan

In [25]:
conn = sqlite3.connect("pasar.sqlite3")

In [26]:
cur = conn.cursor()

In [27]:
cur.execute("""CREATE TABLE IF NOT EXISTS tabel_produk (
    ProductID INTEGER PRIMARY KEY NOT NULL,
    Nama TEXT,
    Stok INTEGER,
    BeratKG REAL,
    HargaRibuRupiah REAL
)""")

# Menyimpan hasil eksekusi SQL
conn.commit()

*Storage class* atau "kategori tipe data" di SQLite ada lima:

* NULL

* INTEGER

* REAL

* TEXT

* BLOB (untuk data lainnya)

In [28]:
# Menutup koneksi
conn.close()

Menambahkan data ke *database*

In [29]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("INSERT INTO tabel_produk VALUES (123, 'Apel', 10, 0.2, 3.5)")
conn.commit()

cur.execute("INSERT INTO tabel_produk VALUES (456, 'Jeruk', 15, 0.15, 2.1)")
conn.commit()

cur.execute("INSERT INTO tabel_produk VALUES (789, 'Pisang', 40, 0.05, 1.25)")
conn.commit()

conn.close()

Melihat semua data yang ada di *database*

In [30]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel', 10, 0.2, 3.5), (456, 'Jeruk', 15, 0.15, 2.1), (789, 'Pisang', 40, 0.05, 1.25)]

In [31]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
print(semua_baris)

conn.close()

[(123, 'Apel', 10, 0.2, 3.5), (456, 'Jeruk', 15, 0.15, 2.1), (789, 'Pisang', 40, 0.05, 1.25)]

In [32]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)

Melihat kolom-kolom tertentu saja

In [35]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT ProductID, Nama FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel'), (456, 'Jeruk'), (789, 'Pisang')]

In [36]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT Nama, Stok FROM tabel_produk")
print(cur.fetchall())

conn.close()

[('Apel', 10), ('Jeruk', 15), ('Pisang', 40)]

In [38]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT Nama, BeratKG, HargaRibuRupiah FROM tabel_produk")
print(cur.fetchall())

conn.close()

[('Apel', 0.2, 3.5), ('Jeruk', 0.15, 2.1), ('Pisang', 0.05, 1.25)]

Menambahkan data

In [39]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

data_baru = [
    (987, 'Brokoli', 70, 0.05, 1.5),
    (321, 'Wortel', 30, 0.1, 1.8),
    (135, 'Stroberi', 120, 0.04, 2)
]

cur.executemany("INSERT INTO tabel_produk VALUES (?, ?, ?, ?, ?)", data_baru)
conn.commit()

conn.close()

In [40]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
print(cur.fetchall())

conn.close()

[(123, 'Apel', 10, 0.2, 3.5), (135, 'Stroberi', 120, 0.04, 2.0), (321, 'Wortel', 30, 0.1, 1.8), (456, 'Jeruk', 15, 0.15, 2.1), (789, 'Pisang', 40, 0.05, 1.25), (987, 'Brokoli', 70, 0.05, 1.5)]

In [42]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

*Querying*

In [44]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE Stok < 50")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)

In [45]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE HargaRibuRupiah > 2")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)

In [47]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE Nama == 'Stroberi'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(135, 'Stroberi', 120, 0.04, 2.0)

In [48]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE ProductID == 987")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(987, 'Brokoli', 70, 0.05, 1.5)

In [51]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE ProductID LIKE '45%'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(456, 'Jeruk', 15, 0.15, 2.1)

In [53]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE ProductID LIKE '%9'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(789, 'Pisang', 40, 0.05, 1.25)

In [52]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE ProductID LIKE '1%'")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)

In [55]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE (Stok < 50) AND (ProductID LIKE '1%')")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)

In [66]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk WHERE (Stok <= 10) OR (HargaRibuRupiah > 2)")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 10, 0.2, 3.5)
(456, 'Jeruk', 15, 0.15, 2.1)

Update data

In [67]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET Stok = 200 WHERE ProductID == 123")
conn.commit()

conn.close()

In [68]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

In [69]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET Nama = 'Jeruk nipis' WHERE ProductID == 456")
conn.commit()

conn.close()

In [70]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 1.8)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

In [71]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET HargaRibuRupiah = 2.5 WHERE ProductID == 321")
conn.commit()

conn.close()

In [72]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(789, 'Pisang', 40, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

In [73]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("UPDATE tabel_produk SET Stok = 10 WHERE ProductID == 789")
conn.commit()

conn.close()

In [74]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(789, 'Pisang', 10, 0.05, 1.25)
(987, 'Brokoli', 70, 0.05, 1.5)

Hapus baris

In [75]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("DELETE FROM tabel_produk WHERE ProductID == 789")
conn.commit()

conn.close()

In [76]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)

Urutan menampilkan

In [77]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY Nama")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(987, 'Brokoli', 70, 0.05, 1.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)

In [78]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY Nama DESC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(321, 'Wortel', 30, 0.1, 2.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)
(123, 'Apel', 200, 0.2, 3.5)

In [79]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY Nama ASC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(987, 'Brokoli', 70, 0.05, 1.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)

In [80]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY BeratKG")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(135, 'Stroberi', 120, 0.04, 2.0)
(987, 'Brokoli', 70, 0.05, 1.5)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(123, 'Apel', 200, 0.2, 3.5)

In [81]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY HargaRibuRupiah")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(987, 'Brokoli', 70, 0.05, 1.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(321, 'Wortel', 30, 0.1, 2.5)
(123, 'Apel', 200, 0.2, 3.5)

In [82]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY HargaRibuRupiah DESC")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(135, 'Stroberi', 120, 0.04, 2.0)
(987, 'Brokoli', 70, 0.05, 1.5)

In [83]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY HargaRibuRupiah DESC LIMIT 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)

In [85]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY ProductID LIMIT 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)

In [86]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk LIMIT 3")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)

In [87]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk ORDER BY ProductID")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)

In [88]:
conn = sqlite3.connect("pasar.sqlite3")
cur = conn.cursor()

cur.execute("SELECT * FROM tabel_produk")
semua_baris = cur.fetchall()
for baris in semua_baris:
    print(baris)

conn.close()

(123, 'Apel', 200, 0.2, 3.5)
(135, 'Stroberi', 120, 0.04, 2.0)
(321, 'Wortel', 30, 0.1, 2.5)
(456, 'Jeruk nipis', 15, 0.15, 2.1)
(987, 'Brokoli', 70, 0.05, 1.5)